<h2>Sign up for Packlist</h2>
<% unless locals.empty? %>
    <div>
      <h2 class="text-danger"><strong>ERROR:</strong></h2>
      <% error_list.each do |e| %>
        <h2 class="text-danger"><strong><%= e %></strong></h2>
      <% end %>
    </div>
<% end %>
<h3>Create a username and password.<h3>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <br>
  <input type="text" name="password" placeholder="Password:">
  <br>
  <input type="submit" value="Sign Up">
</form>
