<h2>New Pannier</h2>
<h3>Identify your pannier and add items to it, if any.<h3>
<form action="/panniers" method="POST">
  <input type="text" name="pannier[name]" id="pannier_name" placeholder="Name of pannier:">
  <br>
  <% spots = ["Front Left", "Front Right", "Back Left", "Back Right", "Handlebar Bag", "Rack Bag"]%>
  <div class="form-group">
    <label for="pannier_location">Which pannier is this?</label>
      <select class="form-control" id="pannier_location" name="pannier[location]">
        <% spots.each do |spot| %>
          <option><%= spot  %></option>
        <% end %>
      </select>
  </div>
  <br>
  <label><h4>Add existing items to this pannier:</h4></label>
  <% Item.all.each do |item| %>
    <label><%= item.name %></label>
    <input type="checkbox" id="item_<%=item.id%>" name="pannier[item_ids][]" value="<%= item.id %>"><br>
  <% end %>

  <label><h4>Or add an additional item:</h4></label>
  <input type="text" id="new_item" name="item[name]" placeholder="Name of item:">
  <input type="text" name="item[weight]" placeholder="Weight in kilograms:">
  <input type="submit" value="Create New Pannier">
</form>
