<% if flash[:error] %>
<%

<h1> Items </h1>
  <ul>
<% @items.each do |item| %>
    <li>
      <a href="/items/<%= item.id %>"><%= item.name %></a></p>
    </li>
<% end %>
  </ul>

<a href="/items/new" class="btn btn-primary" role="button">Add an Item</a>
