<h2>New Item</h2>
<h3>Add your new item here, along with its weight in kilograms.<h3>
<form action="/items" method="POST">
  <input type="text" name="item[name]" id="item_name" placeholder="Item Name">
  <br>
  <input type="text" name="item[weight]" id="item_weight" placeholder="Item Weight (kg)">
  <br>

  <h4>Into which pannier would you like to put this item?</h4>
    <% Pannier.all.each do |pannier| %>
      <label><%= pannier.name %></label>
      <input type="radio" id="pannier_<%= pannier.id %>" name="item[pannier_id][]" value="<%= pannier.id %>"<br>
    <% end %>
  <br>


  <br>
  <h4>Or create a new pannier to put it in:</h4>
  <input type="text" name="pannier[name]" id="pannier_name" placeholder="Pannier Name">
  <br>
  <!--TODO: remove elements from the spots array that were already assigned as pannier[location]s -->
  <% spots = ["Front Left", "Front Right", "Back Left", "Back Right", "Handlebar Bag", "Rack Bag"]%>
  <div class="form-group">
    <label for="pannier_location">What type of pannier is this?</label>
      <select class="form-control" id="pannier_location" name="pannier[location]">
        <% spots.each do |spot| %>
          <option><%= spot  %></option>
        <% end %>
      </select>
  </div>
  <br>

  <button type="submit" class="btn btn-primary btn-lg">Create New Item</button>
</form>
